.container
  .page-header
    %h3= @project.name + ': Manage Members'
  %ol.breadcrumb
    %li= link_to 'Projects', projects_path
    %li= link_to @project.name, project_path(@project)
    %li Memberships
  = render 'form'
  %row
    .col-md-7
      %table.table
        %tbody
          -@project.memberships.each do |membership|
            -if membership.id
              %tr
                = form_for([@project, membership], html: {class: "form-inline"}) do |f|
                  %td=link_to membership.user.full_name, user_path(membership.user)
                  %td=f.collection_select(:role, Membership::ROLES, :to_s, :to_s, {prompt: membership.role}, class: "form-control")
                  %td=f.submit 'Update Member', class: "btn btn-primary"
                  %td=link_to ' ', project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove"
