.container
  = form_for(@user, html: {class: "form-horizontal"}) do |f|
    .form-group
      .col-sm-offset-2.col-sm-8
        = render partial: 'shared/errors', locals: { error: @user}
    .form-group
      %label.col-sm-2.control-label First Name
      .col-sm-6
        = f.text_field :first_name, class: "form-control"
    .form-group
      %label.col-sm-2.control-label Last Name
      .col-sm-6
        = f.text_field :last_name, class: "form-control"
    .form-group
      %label.col-sm-2.control-label{:for => "inputEmail3"} Email
      .col-sm-6
        = f.email_field :email, class: "form-control"
    .form-group
      %label.col-sm-2.control-label Password
      .col-sm-6
        = f.password_field :password, class: "form-control"
    .form-group
      %label.col-sm-2.control-label Password Confirmation
      .col-sm-6
        = f.password_field :password_confirmation, class: "form-control"
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: "btn btn-primary"
        = link_to 'Cancel', users_path, class: "btn btn-default"
    .form-group
      .col-sm-offset-2.col-sm-6
        - if @user.id
          .well
            .text-center
              = link_to 'Delete', user_path(@user), method: :delete, class: "btn btn-danger"
