.container
  .page-header
    %h1 Frequently Asked Questions
  %ul
    - @faq_array_var.each do |position|
      %li
        = link_to "#{position[:question]}", faq_path(@faq, anchor: "#{position[:slug]}")
  - @faq_array_var.each do |position|
    %h3= position[:question]
    = position[:answer]
    %a{:name => position[:slug]}
    %a{:href => "#"} top
