<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">gCamp</a>
      </div>
    </div>
  </nav>

  <%= yield %>

  <div class="container">
      <footer>
        <div class="row">
          <div class="col-md-4">
            <%= link_to 'Terms', terms_path %>
            <%= link_to 'About', about_path %>
          </div>
          <div class="col-md-8 text-right">
            <%= link_to image_tag('linked_in.jpg', :width => 28, :height => 25), "https://www.linkedin.com/in/reecevancleve" %>
            <%= link_to image_tag('GitHub.jpg', :width => 25, :height => 25), "https://github.com/LRVC" %>
            <%= link_to image_tag('Twitter.jpg', :width => 25, :height => 25), "https://twitter.com/RV_C" %>
            <%= link_to image_tag('Galvanize.jpg', :width => 22, :height => 25), "https://students.gschool.it/cohorts/8/students/290" %>
          </div>
        </div>
      </footer>
    </div>

</body>
</html>
